body {
    padding-top: 70px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 70px;
}
dt,dd{
    margin-bottom: 10px;
}
.emptyTips{
    font-size: 20px;
    color:#b92c28;
}
.orderList>td{
    line-height:34px!important;
}